.jxlp-button {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  .jbutton {
    color: red;
    background: linear-gradient(90deg, #d95d5d, #3dbcd9);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  .jimg {
    max-width: 100%;
    height: 40px;
  }
  .jheart {
    display: block;
    width: 16px;
    height: 16px;
    background: url('../assets/heart.svg') no-repeat 100% 100%;
    background-size: 100%;
  }
}
